/* PROFILE SECTION */

#profile_section{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0 140px 0;
}

#profile_section #profile_section_static{
  position: absolute;
}

#profile_section #twitter p{
  font-weight: 700;
  font-size: 18px;
}

#profile_section .profile_section_content{
  margin-left: 40%;
}

.profile_section_content .share_web #share_link{
  width: 30px;
  cursor: pointer;
}

#profile_section .profile_section_content #share_link_mobile{
  display: none;
}

/* LINK SECTION */

#link_section{
  margin: 100px 0 50px 0;
}
#link_section .link_section_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#link_section a{
  width: 70%;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

#link_section a:hover{
  width: 69%;
}

#link_section .links{
 background-color: #EAECF0;
 padding: 12px 16px;
 margin-bottom: 20px;
 border-radius: 10px;
}

#link_section .links:hover{
  background-color: #D0D5DD;
}

/* MOBILE */

@media(max-width:414px) {

  /* PROFILE SECTION */

  #profile_section{
      margin-bottom: 120px;
  }

  #profile_section .profile_section_content{
      margin-left: 80%;
  }

  #profile_section .profile_section_content #share_link{
      display: none;
  }

  #profile_section .profile_section_content #share_link_mobile{
      display: block;
  }

  /* LINK SECTION */

  #link_section .links{
      padding: 10px 12px;
      border-radius: 10px;
   }

   #link_section a{
      width: 90%;
      font-size: 14px;
   }
}
